<template lang="pug">
div#app
  Page
  vue-progress-bar
</template>

<script>
import Page from './Page'

export default {
  name: 'App',
  components: {
    Page
  },
  mounted () {
    this.$Progress.finish()
  },
  created () {
    this.$Progress.start()
    this.$router.beforeEach((to, from, next) => {
      if (to.meta.progress !== undefined) {
        this.$Progress.parseMeta(to.meta.progress)
      }
      this.$Progress.start()
      next()
    })
    this.$router.afterEach((to, from) => {
      this.$Progress.finish()
      document.title = to.meta.title
      const description = document.querySelector('meta[name="description"]')
      description.setAttribute('content', to.meta.description)
    })
  }
}
</script>

<style lang="stylus">
@import '../styles/normalize'
@import '../styles/app'
</style>
