<template lang="pug">
div
  h2 {{ page }}
  router-link(to='/') Go to white page
  router-link(to='gray') Go to gray page
</template>

<script>
export default {
  name: 'Blue',
  data () {
    return {
      page: 'This is a blue page'
    }
  }
}
</script>
