<template lang="pug">
div
  h2 {{ page }}
  router-link(to='/') Go to white page
  router-link(to='blue') Go to blue page
</template>

<script>
export default {
  name: 'Gray',
  data () {
    return {
      page: 'This is a gray page'
    }
  }
}
</script>
