<template lang="pug">
div(:class='classes')
  svg.logo
    use(xlink:href='#vue-logo')
  h1 {{ msg }}
  router-view
  p {{ vuex }}
  div.count {{ count }}
  button(@click="increment") +
  button(@click="decrement") -
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'Page',
  data () {
    return {
      msg: 'Welcome to your Vue.js app',
      vuex: 'Here\'s a simple counter, just to make sure Vuex is doing allright;)'
    }
  },
  computed: {
    classes () {
      return ['page', this.color]
    },
    ...mapGetters(['color', 'count'])
  },
  methods: {
    ...mapActions(['increment', 'decrement'])
  }
}
</script>

<style lang="stylus">
.page
  padding 60px 0
  text-align center
  height 100vh
  box-sizing border-box
  .logo
    width 200px
    height 200px

.blue
  background-color #94CDE7

.gray
  background-color #C7C7C7

.count
  font-size 1.5rem
</style>
