<template lang="pug">
div
  h2 {{ page }}
  router-link(to='gray') Go to gray page
  router-link(to='blue') Go to blue page
</template>

<script>
export default {
  name: 'White',
  data () {
    return {
      page: 'This a white page'
    }
  }
}
</script>
