doctype html
html(lang='en')
  head
    title {{ state.route.meta.title }}
    meta(name='description' content='{{ state.route.meta.description }}')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='theme-color' content='#4693D0')
    link(rel='apple-touch-icon' sizes='120x120' href='/images/logo-120.png')
    link(rel='shortcut icon' sizes='48x48' href='/images/logo-48.png')
    link(rel='manifest' href='/manifest.json')
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
  body
    include icons/icons.svg
    <!--vue-ssr-outlet-->

